html, body {
    margin: 0;
    padding: 0;
}

#header {
    padding-left: 3em;
    padding-right: 3em;
    background: #0A0A23;
    display: flex;
    position: sticky;
    top: 0;
}

.header-logo {
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 1.3em;
    width: auto;
}

.navbar-toggle {
    display: none;
}

#nav-bar {
    height: 3em;
    margin-left: auto;
    display: flex;
    align-items: center;
}

.nav-link {
    cursor: pointer;
    margin-left: 2.3em;
    padding: .1em 1em;
    padding-bottom: .2em;
    font-size: .9em;
    text-decoration: none;
    font-weight: 600;
    color: #fff;
}

.active,
.active,
.nav-link:hover,
.nav-link:hover * {
    background: #8787EA;
    border-radius: 1em;
    color: #0A0A23;
    transition: background ease-in-out .08s;
}

.navbar-toggle {
    cursor: pointer;
    height: 2.6em;
    width: 2.8em;
    right: .6em;
    position: absolute;
}

.navbar-toggle-icon,
.navbar-toggle-icon::before,
.navbar-toggle-icon::after {
    height: .25em;
    width: 1.6em;
    background: #fff;
    display: block;
    position: absolute;
    content: '';
    border-radius: .2em;
}

.navbar-toggle-icon {
    margin-top: 1.15em;
    right: .6em;
    display: none;
}

.navbar-toggle-icon::before {
    margin-top: .5em;
}

.navbar-toggle-icon::after {
    margin-top: -.5em;
}

section {
    min-height: 30em;
}

section h1 {
    margin: 0;
}


#why {
    background-color: #0A0A23;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

#why .column {
    width: 45%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#why .column .video {
    background-color: #fff;
    height: 60%;
    width: 80%;
    border-radius: 10px;
}

#why .column .wrapper {
    width: 70%;
}

#why .column .wrapper h1 {
    font-weight: 400;
    font-size: 2.5em;
    line-height: 1em;
}

#why .column .wrapper h1 strong {
    color: #8787EA;
}


@media screen and (max-width: 992px) {
    #header {
        height: 2.8em;
        display: block;
    }

    .header-logo {
        width: 100%;
        height: 100%;
        justify-content: center;
    }

    #nav-bar {
        position: relative;
        visibility: hidden;
        flex-direction: column;
        background-color: rgb(9, 9, 49);
        position: absolute;
        right: -10em;
        top: 0;
        padding: 2em;
        height: auto;
        padding-top: 1.8em;
        margin-top: 2.6em;
        border-bottom-left-radius: .5em;
        transition: visibility 150ms linear 0s, right 300ms;
    }

    #header > .navbar-mobile-visible {
        visibility: visible;
        right: 0;
        transition: visibility 0s linear 0s, right 300ms;
    }

    .nav-link {
        margin-right: auto;
        margin-left: 0;
        margin-top: .4em;
    }

    .navbar-toggle,
    .navbar-toggle-icon {
        margin-top: -.78em;
        display: block;
    }

    #why {
        flex-direction: column;
    }

    #why .column {
        width: 90%;
        margin: 0 auto;
    }

    #why .column .wrapper {
        width: 100%;
    }

    #why .column .video {
        background-color: #fff;
        min-height: 16em;
        width: 80%;
        border-radius: 10px;
        margin-bottom: 2em;
    }

}